<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Contacto</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>
<body>

<header>
    <h1><i>Mi Empresa</i></h1>
    <nav>
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="productos.html">Productos</a></li>
            <li><a href="presupuesto.html">Presupuesto</a></li>
            <li><a href="contacto.html" class="active">Contacto</a></li>
        </ul>
    </nav>
</header>
<main>
<section class="contacto-section">

    <h2>Contacto</h2>

    <div class="contacto-contenido">

        <!-- INFO -->
        <div class="contacto-info">
            <p><strong>📍 Dirección:</strong> Calle Falsa 123</p>
            <p><strong>📞 Teléfono:</strong> 123456789</p>
            <p><strong>✉️ Email:</strong> 8YV9O@example.com</p>
            <p><strong>🕒 Horario:</strong> Lunes a Viernes, 9:00 - 18:00</p>

            <img src="../img/contacto.jpg" alt="Contáctanos">
        </div>

        <!-- MAPA -->
        <div class="contacto-mapa">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2981.0533512702696!2d-1.0003865728634573!3d41.65458928936626!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd59696a6831bae3%3A0x7626f8bd877dfb46!2sC.%20Bari%2C%2050197%20Zaragoza!5e0!3m2!1ses!2ses!4v1774288576028!5m2!1ses!2ses"
                allowfullscreen="" loading="lazy"></iframe>
        </div>

    </div>

</section>
</main>

<footer>
    <p>© 2026 Mi Empresa</p>
    <p>Síguenos en redes sociales</p>
    <p>
        <a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.twitter.com" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
    </p>
</footer>


</body>
</html>