<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Contacto</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>

<header>
    <h1><i>Mi Empresa</i></h1>
    <nav>
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="productos.html">Productos</a></li>
            <li><a href="presupuesto.html">Presupuesto</a></li>
            <li><a href="contacto.html" class="active">Contacto</a></li>
        </ul>
    </nav>
</header>

<section>
    <h2>Contacto</h2>
    <p>Dirección: Calle Falsa 123</p>
    <p>Teléfono: 123456789</p>
    <p>Correo electrónico: 8YV9O@example.com</p>
    <p>Horario de atencion al cliente: Lunes a Viernes, de 9 a 18 horas</p>
<br>
    <img src="../img/contacto.jpg" width="400">
</section>

<footer>
    <p>© 2026 Mi Empresa</p>
    <p>Síguenos en redes sociales</p>
    <p>
    <a href="https://www.instagram.com" target="_blank">Instagram</a> | 
    <a href="https://www.twitter.com" target="_blank">Twitter</a> | 
    <a href="https://www.facebook.com" target="_blank">Facebook</a>
    </p>
</footer>

</body>
</html>