<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Presupuesto</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>
<body>

<header>
    <h1><i>Mi Empresa</i></h1>
    <nav>
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="productos.html">Productos</a></li>
            <li><a href="presupuesto.html" class="active">Presupuesto</a></li>
            <li><a href="contacto.html">Contacto</a></li>
        </ul>
    </nav>
</header>
<main>
<section>
    <h2>Solicitar Presupuesto</h2>

    <form>
        <label for="Nombre">Nombre</label>
        <input type="text" id="Nombre" placeholder="Nombre"  pattern="^[a-zA-Z\s]+$" required>
        <label for="Email">Email</label>
        <input type="email" id="Email" placeholder="Email" required>
        <label for="Teléfono">Teléfono</label>
        <input type="tel" id="Teléfono" placeholder="Teléfono"  pattern="^\d+$" required>
        <br>
        <br>
        <textarea placeholder="Solicite más información"></textarea>
        <textarea placeholder="Deja un Comentario"></textarea>
        <br>
        <p>Si te interesa unirte a nuestro equipo sube tu CV AQUI</p>
        
        <label for="archivo">Adjuntar archivo (PDF, JPG, PNG):</label>
        <br>
        <input type="file" id="archivo" name="archivo" accept=".pdf, .jpg, .png">
        <br>
        <label>
            <input type="checkbox" required> Acepto la política de privacidad
        </label>
        <br>
        <button type="submit">Enviar</button>
        <br>
    </form>
          <p> <img src="../img/Presupuesto.jpg" alt="Para realizar un presupuesto necesitamos una buena imagen" width="318" height="159" ></p> 
          <br>

</section>
</main>
<footer>
    <p>© 2026 Mi Empresa</p>
    <p>Síguenos en redes sociales</p>
    <p>
        <a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.twitter.com" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
    </p>
</footer>


</body>
</html>