<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Productos</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>

<header>
    <h1><i>Mi Empresa</i></h1>
    <nav>
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="productos.html" class="active">Productos</a></li>
            <li><a href="presupuesto.html">Presupuesto</a></li>
            <li><a href="contacto.html">Contacto</a></li>
        </ul>
    </nav>
</header>

<section class="galeria">
    <h2>Productos</h2>

    <div class="grid">

        <div class="producto">
            <img src="../img/producto1.jpg" alt="Producto 1">
            <p>Iphone 17</p>
            <span>€1250,99</span>
        </div>

        <div class="producto">
            <img src="../img/producto2.jpg" alt="Producto 2">
            <p>Ipad pro 13</p>
            <span>€935,65</span>
        </div>

        <div class="producto">
            <img src="../img/producto3.jpg" alt="Producto 3">
            <p>AppleWatch series 10</p>
            <span>€849,99</span>
        </div>

        <div class="producto">
            <img src="../img/producto4.jpg" alt="Producto 4">
            <p>Cortadora De Gel protector</p>
            <span>€3239,95</span>
        </div>

        <div class="producto">
            <img src="../img/producto5.jpg" alt="Producto 5">
            <p>PS5</p>
            <span>€549,99</span>
        </div>

       <div class="producto">
            <img src="../img/producto6.jpg" alt="Producto 6">
            <p>Airpods 4 con cancelación de ruido</p>
            <span>€269,99</span>
        </div>

    </div>
</section>

<footer>
    <p>© 2026 Mi Empresa</p>
    <p>Síguenos en redes sociales</p>
    <p>
    <a href="https://www.instagram.com" target="_blank">Instagram</a> | 
    <a href="https://www.twitter.com" target="_blank">Twitter</a> | 
    <a href="https://www.facebook.com" target="_blank">Facebook</a>
    </p>
</footer>

</body>
</html>