<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Productos</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>

<header>
   
    <h1><i>Mi Empresa</i></h1>
    <nav>
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="productos.html" class="active">Productos</a></li>
            <li><a href="presupuesto.html">Presupuesto</a></li>
            <li><a href="contacto.html">Contacto</a></li>
        </ul>
    </nav>
</header>

<section class="galeria">
    
    <h2>Productos</h2>

    <div class="grid">

        <div class="producto">
            <img src="../img/producto1.jpg" alt="Esto es un iphone 17" width="362" height="169">
            <p>Iphone 17</p>
            <span>€1250,99</span>
        </div>

        <div class="producto">
            <img src="../img/producto2.jpg" alt="Esto es un ipad pro 13" width="300" height="168">
            <p>Ipad pro 13</p>
            <span>€935,65</span>
        </div>

        <div class="producto">
            <img src="../img/producto3.jpg" alt="Esto es un AppleWatch series 10" width="310" height="163">
            <p>AppleWatch series 10</p>
            <span>€849,99</span>
        </div>

        <div class="producto">
            <img src="../img/producto4.jpg" alt="Esto es una cortadora de gel protector" width="225" height="225">
            <p>Cortadora De Gel protector</p>
            <span>€3239,95</span>
        </div>

        <div class="producto">
            <img src="../img/producto5.jpg" alt="Esto es un PS5" width="356" height="141">
            <p>PS5</p>
            <span>€549,99</span>
        </div>

       <div class="producto">
            <img src="../img/producto6.jpg" alt="Esto es un Airpods 4">
            <p>Airpods 4 con cancelación de ruido</p>
            <span>€269,99</span>
        </div>

       <div class="producto">
            <img src="../img/producto7.jpg" alt="Esto es un Macbook Pro 16" width="282" height="179">
            <p>Macbook Pro 16</p>
            <span>€2499,99</span>
        </div>

        <div class="producto">
            <img src="../img/producto8.jpg" alt="Esto es un Apple TV 4K" width="310" height="163">
            <p>Apple TV 4K</p>
            <span>€199,99</span>
        </div>

        <div class="producto">
            <img src="../img/producto9.jpg" alt="Esto es un iMac 27" width="300" height="168">
            <p>iMac 27</p>
            <span>€1799,99</span>
        </div>

        <div class="producto">
            <img src="../img/producto10.jpg" alt="Esto es un HomePod mini" width="225" height="225">
            <p>HomePod mini</p>
            <span>€99,99</span>
        </div>
    </div>
</section>

<footer>
    <p>© 2026 Mi Empresa</p>
    <p>Síguenos en redes sociales</p>
    <p>
        <a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.twitter.com" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
    </p>
</footer>

</body>
</html>